[Unit]
Description=USB backup
Before=local-fs.target umount.target

[Mount]
What=/dev/disk/by-uuid/87dcbe0c-1e1f-4de7-8f1e-65bcb37a4152
Where=/mnt/bkpUSB
Type=ext4
Options=defaults

[Install]
WantedBy=local-fs.target
